<div class="text-center">
	<h3> Detailed Results for submission {{filename}} </h3>
	{{#each results}}
		{{#if this}}
			<h5> Result for {{@key}}: PASSED </h5>
		{{else}}
			<h5> Result for {{@key}}: FAILED </h5>
		{{/if}}
	{{/each}}
	{{# if correct}}
	<h3 style="color:green"> SUBMISSION PASSED </h3>
	<h3> Total Runtime: {{runtime}}s </h3>
	{{else}}
	<h3 style="color:red"> SUBMISSION FAILED </h3>
	{{/if}}
	{{# if compileError}}
		Error: {{compileError}}
	{{/if}}
</div>
<!--
<div class="histogram" style="width:50%" >
</div>
<script type="text/javascript">
	var data = JSON.parse(decodeURIComponent("{{allTimes}}"));
	var div = "div.histogram";
	$(window).resize(function() {
      drawHistogram(div, data);
    });
</script>
-->
